.lessons {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.lessons .overlap-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    width: 1520px;
    height: 900px;
}

.lessons .overlap {
    position: relative;
    width: 1567px;
    height: 945px;
}

.lessons .bg {
    position: absolute;
    width: 1520px;
    height: 900px;
    top: 0;
    left: 0;
    background-color: #00142b;
}

.lessons .group {
    position: absolute;
    width: 39px;
    height: 211px;
    top: 27px;
    left: 33px;
}

.lessons .overlap-group {
    position: absolute;
    width: 36px;
    height: 39px;
    top: 172px;
    left: 0;
    background-color: #1c3049;
    border-radius: 8px;
}

.lessons .elearning {
    position: absolute;
    width: 18px;
    height: 20px;
    top: 10px;
    left: 10px;
}

.lessons .home {
    position: absolute;
    width: 18px;
    height: 19px;
    top: 72px;
    left: 10px;
}

.lessons .wline {
    position: absolute;
    width: 39px;
    height: 1px;
    top: 108px;
    left: 0;
    object-fit: cover;
}

.lessons .logo {
    position: absolute;
    width: 39px;
    height: 44px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.lessons .ecertificates {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 132px;
    left: 8px;
}

.lessons .whitebg {
    position: absolute;
    width: 1462px;
    height: 945px;
    top: 0;
    left: 105px;
    background-color: #ffffff;
    border-radius: 52px;
    box-shadow: -13px 4px 4px #00000040;
}

.lessons .div {
    position: absolute;
    width: 1339px;
    height: 40px;
    top: 32px;
    left: 140px;
}

.lessons .profile {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 1119px;
    object-fit: cover;
}

.lessons .jeriebel-bulac {
    position: absolute;
    top: 12px;
    left: 1167px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
}

.lessons .text-wrapper {
    font-weight: 300;
    color: #000000;
}

.lessons .span {
    color: #00f110;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
}

.lessons .div-wrapper {
    position: absolute;
    width: 290px;
    height: 37px;
    top: 2px;
    left: 39px;
    background-image: url(../img/searchbar1.png);
    background-size: 100% 100%;
}

.lessons .text-wrapper-2 {
    position: absolute;
    top: 15px;
    left: 44px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #979797;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.lessons .settings {
    position: absolute;
    width: 20px;
    height: 19px;
    top: 8px;
    left: 1315px;
}

.lessons .back-button {
    position: absolute;
    width: 28px;
    height: 23px;
    top: 9px;
    left: 0;
    background-color: #ffffff;
    border-radius: 18px;
    border: 1px solid;
    border-color: #938e8e;
}

.lessons .arrowlef {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 5px;
    left: 7px;
}

.lessons .group-2 {
    position: absolute;
    width: 1411px;
    height: 538px;
    top: 108px;
    left: 148px;
}

.lessons .text-wrapper-3 {
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.lessons .p {
    position: absolute;
    top: 32px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #787373;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.lessons .blueline {
    position: absolute;
    width: 1085px;
    height: 4px;
    top: 15px;
    left: 320px;
    background-color: #00aaff;
}

.lessons .add-wrapper {
    position: absolute;
    width: 24px;
    height: 22px;
    top: 33px;
    left: 1303px;
    background-color: #f2f0f0;
    border-radius: 7px;
}

.lessons .img {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 4px;
    left: 5px;
}

.lessons .menu-wrapper {
    position: absolute;
    width: 24px;
    height: 22px;
    top: 33px;
    left: 1269px;
    background-color: #f2f0f0;
    border-radius: 7px;
}

.lessons .this-introductory {
    position: absolute;
    top: 83px;
    left: 1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
}

.lessons .text-wrapper-4 {
    font-weight: 500;
}

.lessons .text-wrapper-5 {
    font-size: 14px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
}

.lessons .module {
    position: absolute;
    width: 986px;
    height: 207px;
    top: 171px;
    left: 1px;
}

.lessons .overlap-group-2 {
    position: absolute;
    width: 982px;
    height: 39px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #a3a2a2;
}

.lessons .module-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 24px;
}

.lessons .text-wrapper-6 {
    position: absolute;
    top: 13px;
    left: 68px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.lessons .down-wrapper {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 14px;
    left: 956px;
    background-color: #d9d9d9;
    border-radius: 5px;
}

.lessons .down {
    top: 4px;
    left: 3px;
    position: absolute;
    width: 8px;
    height: 6px;
}

.lessons .overlap-2 {
    position: absolute;
    width: 982px;
    height: 168px;
    top: 39px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #888484;
}

.lessons .side {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 13px;
    left: 25px;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid;
    border-color: #dad6d6;
}

.lessons .side-2 {
    position: absolute;
    width: 5px;
    height: 10px;
    top: 3px;
    left: 6px;
}

.lessons .side-wrapper {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 47px;
    left: 25px;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid;
    border-color: #dad6d6;
}

.lessons .img-wrapper {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 78px;
    left: 25px;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid;
    border-color: #dad6d6;
}

.lessons .side-3 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 109px;
    left: 25px;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid;
    border-color: #dad6d6;
}

.lessons .side-4 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 139px;
    left: 25px;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid;
    border-color: #dad6d6;
}

.lessons .overlap-3 {
    position: absolute;
    width: 981px;
    height: 135px;
    top: 20px;
    left: 1px;
}

.lessons .lines {
    top: 20px;
    left: 0;
    position: absolute;
    width: 980px;
    height: 1px;
    object-fit: cover;
}

.lessons .lines-2 {
    top: 52px;
    left: 1px;
    position: absolute;
    width: 980px;
    height: 1px;
    object-fit: cover;
}

.lessons .lines-3 {
    top: 82px;
    left: 1px;
    position: absolute;
    width: 980px;
    height: 1px;
    object-fit: cover;
}

.lessons .lines-4 {
    top: 113px;
    left: 1px;
    position: absolute;
    width: 980px;
    height: 1px;
    object-fit: cover;
}

.lessons .element-the-world-of {
    position: absolute;
    top: 0;
    left: 68px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #6f6f6f;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.lessons .modules {
    position: absolute;
    width: 990px;
    height: 156px;
    top: 382px;
    left: 1px;
}

.lessons .rectangle {
    position: absolute;
    width: 982px;
    height: 39px;
    top: -1px;
    left: -1px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #a3a2a2;
}

.lessons .rectangle-2 {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 13px;
    left: 955px;
    background-color: #d9d9d9;
    border-radius: 5px;
}

.lessons .down-2 {
    top: 17px;
    left: 958px;
    position: absolute;
    width: 8px;
    height: 6px;
}

.lessons .overlap-4 {
    position: absolute;
    width: 982px;
    height: 39px;
    top: 39px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #a3a2a2;
}

.lessons .overlap-5 {
    position: absolute;
    width: 982px;
    height: 39px;
    top: 78px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #a3a2a2;
}

.lessons .overlap-6 {
    position: absolute;
    width: 982px;
    height: 39px;
    top: 117px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #a3a2a2;
}

.active {
    background-color: rgba(30, 144, 255, 0.2);
    border-radius: 8px;
}

.hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
